<launch>
  <!-- 载入 机器人 和 RoboCup@Home 的仿真场景 -->
  <include file="$(find env)/launch/sim_env.launch"/>

  <!-- 建图和加载地图只能二选一 -->
  <!-- 使用gmapping建图 -->
  <!-- <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" /> -->

  <!-- 加载已经扫描好的地图 -->
  <!-- 需要配合AMCL定位算法使用，用于创建map节点 -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find env)/map/map.yaml"/>

  <!--- AMCL定位算法 -->
  <node pkg="amcl" type="amcl" name="amcl"/>

  <!-- 开启rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find env)/rviz/init_map.rviz"/>
</launch>
